* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  background-color: rgb(199, 194, 194);
  padding: 0.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 10vw;
}


.navbar a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  position: relative;
  font-size: larger;
}

.navbar a:hover::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: red;
}

.quoteDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.quote {
  font-size: 2em; 
  text-align: center;
  margin-bottom: 10px;
}

.quoteAuthor {
  font-weight: bold;
  text-align: center;
}

.user-input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.form-title {
  font-size: xx-large;
  margin-bottom: 1rem;
}

.input-form .form-group {
  margin-bottom: 1rem;
}

.input-label {
  font-size: large;
  display: inline-flex;
}

.user-input {
  width: 100%;
  padding: 1rem;
  font-size: medium;
  background-color: whitesmoke;
  border: black;
  border-radius: 5px;
}

.dob-input {
  width: 8rem;
  margin-left: 1rem;
}

.submit-button {
  padding: 1rem;
  margin-top: 2rem;
  font-size: large;
  background-color: grey;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: darkgrey;
}

.link {
  position: fixed;
  bottom: 8rem; 
  right: 15rem; 
  text-decoration: none; 
  color: black;
  font-size: large;
  font-style: italic;
  cursor: pointer;
  opacity: 0;
  transform: scale(0);
  animation: fadeIn 1s linear forwards;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.hidden {
  display: none;
}

.life-calendar {
  text-align: center;
  max-width: 80%;
  max-height: 100%;
  margin-top: 5rem;
  margin-inline: 27vw;
  margin-block-end: 2rem;
}

.life-calendar tbody {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
}

.life-calendar tr {
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.life-calendar .Headers {
  width: 10px; 
  height: 1px; 
  margin: 4px; 
  margin-top: 0px;
}

.life-calendar .week {
  background-color: whitesmoke; 
  border: 1px solid black;
  border-radius: 3px;
  width: 10px; 
  height: 6px; 
  margin-inline: 4px; 
  margin-block: 0.1rem;
}

.life-calendar .weeksLived {
  background-color: black; 
  border: 1px solid black;
  border-radius: 3px;
  width: 10px; 
  height: 6px; 
  margin-inline: 4px; 
  margin-block: 0.1rem;
}

.yearsHeading {
  transform: rotate(-90deg);
  text-align: center;
  position: fixed;
  float: left;
  left: 21vw;
  margin-block-start: 20vw;
}

.weeksHeading {
  margin-block: 0px;
}

.conclusion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
  padding: 2rem;
  text-align: center;
  height: 100vh;
}

.conclusion p {
  font-size: 1.7rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-block: 7rem;
}

.ratingSection {
  display: flow;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #f0f0f0;
}

.ratingSection h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.ratingSection form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ratingSection label {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.ratingSection select {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100px;
  margin-bottom: 1rem;
}

.ratingSection textarea {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 1rem;
}

#myFooter {
  font-size: 1rem;
  text-align: center;
  color:  #333;
  padding: 10px 0;
  margin-top: 10rem;
}